@require '_variables'
@require '_mixins'

$button-themed-darkest-color = alpha($color-darkest, .5)

.w-button
  padding 0 35px
  color $color-lightest
  background-color $color-grey-dark
  font-size $font-size-xs
  font-weight 600
  text-align center
  line-height 35px
  cursor pointer
  border 0
  text-shadow -1px -1px 0 $color-darkest
  webkit-appearance(none)
  transition(all, 300ms)
  border-radius(4px)
  unselectable()
  +highlight()
    background-color alpha($color-grey-dark, .9)
    outline 0
  &:active
    padding 3px 35px 0
    line-height 32px
    box-shadow(0 2px 4px $color-darkest inset)
  &.w-button-block
    float left
    width 100%
    box-sizing(border-box)
    clearfix()
  &.w-button-primary
    background-color $color-blue
    text-shadow -1px -1px 0 $button-themed-darkest-color
    &:active
      box-shadow(0 2px 4px $button-themed-darkest-color inset)
