@require '_variables'
@require '_mixins'

.w-card
  padding 30px
  background-color $color-lightest
  border-bottom 2px solid $color-grey-semi-light
  box-sizing(border-box)
  border-radius(4px)

.w-card-content
  margin-top 10px
