@require '_variables'

.w-finance-card
  text-align center

.w-finance-card-value
  margin-top 10px
  font-size $font-size-xxl

.w-finance-card-indexation
  color $color-green
  &.w-finance-card-indexation-negative
    color $color-red
